{{ form_stylesheet(form) }}
{{ form_start(form, {action: path('create_customer_vendor_employee', {vendor: vendor.id})}) }}
<div id="form-content">
    <div>
        {{ form_widget(form) }}
    </div>
    <input class="btn btn-lg ajax-submit pull-right" id="submit-form" type="submit"
           value="Create Employee"/>
</div>
{{ form_end(form) }}
{{ form_javascript(form) }}
<script>
    $('input,select').trigger('change');
</script>