<h5 class="tall"><b>Employee</b></h5>
{{ form_row(form.fullName) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}
<h5 class="tall"><b>&nbsp;</b></h5>
{{ form_row(form.lastFourOfSSN) }}
{{ form_row(form.birthday) }}
{{ form_row(form.phone) }}
{{ form_rest(form) }}

{{ form_javascript(form.birthday) }}