{% set search_field = form.title %}
{% extends "base.html.twig" %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ path('index_customer_profile', {'customer': customer.id}) }}" class="btn btn-back">Back</a>
            </div>
            <div class="col-sm-6">
                <h1 class="text-center" style="margin-top: 10px">{{ customer.company }} Trainings</h1>
            </div>
            <div class="col-sm-3 text-right">
                <a href="{{ path('admin_customer_training_program_create', {customer:customer.id}) }}" class="btn btn-lg btn-shadow">Create</a>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <div class="users-table">
                    {% if paginator is empty %}
                        <p>No Programs</p>
                    {% else %}
                        <table class="table font-normal">
                            <thead>
                                <tr>
                                    <th class="link-padding">Title</th>
                                    <th class="link-padding">Link</th>
                                    <th class="link-padding" width="160">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for program in paginator %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('show_training_program', {'link': program.link}) }}">
                                                {{ program.title|training_name_format|nl2br }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('show_training_program', {'link': program.link}) }}">
                                                {{ url('show_training_program', {'link': program.link}) }}
                                            </a>
                                        </td>
                                        <td>
                                            <a id="{{ program.id }}_delete" href="{{ path('try_delete_resource',{resource:"trainingProgram",id:program.id}) }}"
                                               class="ajax-link" data-op="change" >Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="text-center font-normal">
                        {{ knp_pagination_render(paginator) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}