{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <a href="{{ path('customer_training_programs',{customer:customer.id}) }}"
               class="btn btn-back btn-lg">Back</a></div>
        <div class="col-sm-6">
            {{ form_start(form) }}
            <div class="form-group label-static">
                <div class="col-sm-4">{{ form_label(form.title) }}</div>
                <div class="col-sm-8">{{ form_widget(form.title) }}</div>
                <div class="col-sm-8 col-sm-offset-4">
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="form-group label-static">
                <div class="col-sm-4">{{ form_label(form.passing) }}</div>
                <div class="col-sm-2">{{ form_widget(form.passing, {attr: {class: 'text-right'}}) }}</div>
                <div class="col-sm-1 form-appendix">%</div>
                <div class="col-sm-8 col-sm-offset-4">
                    {{ form_errors(form.passing) }}
                </div>
            </div>
            <div class="form-group label-static">
                <div class="col-sm-4">{{ form_label(form.price) }}</div>
                <div class="col-sm-2">{{ form_widget(form.price, {attr: {class: 'text-right'}}) }}</div>
                <div class="col-sm-1 form-appendix">$</div>
                <div class="col-sm-8 col-sm-offset-4">
                    {{ form_errors(form.price) }}
                </div>
            </div>
            <div class="form-group label-static">
                <div class="col-sm-4 radio">
                    <input type="radio" name="certificateValidityType" id="cvu"
                           {% if form.certificateValidUntil.vars.data is not empty %}checked{% endif %}>
                    <label for="cvu" class="radio-style"></label>
                    {{ form_label(form.certificateValidUntil) }}
                </div>
                <div class="col-sm-8">{{ form_widget(form.certificateValidUntil) }}</div>
                <div class="col-sm-8 col-sm-offset-4">
                    {{ form_errors(form.certificateValidUntil) }}
                </div>
            </div>
            <div class="form-group label-static">
                <div class="col-sm-4 radio">
                    <input type="radio" name="certificateValidityType" id="cvm"
                           {% if form.certificateValidMonths.vars.data is not empty %}checked{% endif %}>
                    <label for="cvm" class="radio-style"></label>
                    {{ form_label(form.certificateValidMonths) }}
                </div>
                <div class="col-sm-2">{{ form_widget(form.certificateValidMonths, {attr: {class: 'text-right'}}) }}</div>
                <div class="col-sm-1 form-appendix">months</div>
                <div class="col-sm-8 col-sm-offset-4">
                    {{ form_errors(form.certificateValidMonths) }}
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-lg btn-shadow btn-tall pull-right">
            </div>
            {{ form_javascript(form.certificateValidUntil) }}
            {{ form_stylesheet(form.certificateValidUntil) }}
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $(function () {
            $('#cvm,#cvu').on('change', function () {
                $('#fs_training_training_program_type_certificateValidUntil').prop('disabled', !$('#cvu').is(':checked'));
                $('#fs_training_training_program_type_certificateValidMonths').prop('disabled', !$('#cvm').is(':checked'));
            });
        });
    </script>
{% endblock %}

