{% extends "base.html.twig" %}

{% block body %}
    <header>
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1">
                <h4 class="tall"><a href="{{ prevPageUrl }}" class="btn btn-grey btn-back">Back</a></h4>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1 privacy-block">
                <h2>uDoras Inc. Terms of Use</h2>

                <h4>Effective Date:April 24, 2017</h4>


                <div>
                    <p>
                        <a href="//udoras.com/">udoras.com</a> the website and online service of uDoras Inc. (“uDoras,”
                        “we,” or “us”). This page explains the terms by which you may use our online and/or mobile
                        services, web site, and software provided on or in connection with the service (collectively the
                        “Service”). By accessing or using the Service, or by clicking “I Agree,” or otherwise affirming
                        your intent to be bound by this Agreement (defined below), you signify that you have read,
                        understood, and agree to be bound by this Terms of Use Agreement (“Agreement”) and to the
                        collection and use of your information as set forth in our Privacy Policy, located at
                        <a href="{{ path('fs_basic_privacy_policy_page') }}">{{ url('fs_basic_privacy_policy_page') }}</a>,
                        whether or not you are a registered user of our Service.
                    </p>
                    <p>
                        uDoras Inc. reserves the right to make unilateral modifications to these terms and will provide
                        notice of these changes as described below. This Agreement applies to all visitors, users, and
                        others who access the Service, whether on behalf of a company, organization, or other entity or
                        on their own individual behalf (“Users”).
                    </p>
                    <p>
                        PLEASE READ THIS AGREEMENT CAREFULLY TO ENSURE THAT YOU UNDERSTAND EACH PROVISION. THIS
                        AGREEMENT CONTAINS A MANDATORY INDIVIDUAL ARBITRATION AND CLASS ACTION/JURY TRIAL WAIVER
                        PROVISION THAT REQUIRES THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES,
                        RATHER THAN JURY TRIALS OR CLASS ACTIONS.
                    </p>
                </div>

                <h4>1. Use of Our Service</h4>
                <div>
                    <p>uDoras Inc. provides platform and tools Provided by the intended client allow for a greater
                        advanced safety training platform.</p>                    
                    <h5>A. Eligibility</h5>
                    <p>This is a contract between you and uDoras Inc. You must read and agree to these terms before
                        using the Service. If you do not agree, you may not use the Service. You may use the Service
                        only if you can form a binding contract with uDoras Inc., and only in compliance with this
                        Agreement and all applicable local, state, national, and international laws, rules and
                        regulations.</p>
                    <p>Any use of or access to the Service by anyone under 18 is only permitted with the express written
                        permission of such individual’s legal guardian, and, if necessary, you represent and warrant
                        that you have received such permission. The Service is not designed for use by or in connection
                        with anyone under the age of 18, and you accept all responsibility that may arise from your use
                        of the Service in connection with any minors.</p>
                    <p>Any use or access to the Service by anyone under 13 is strictly prohibited and in violation of
                        this Agreement. The Service is not available to any Users previously removed from the
                        Service.</p>                    
                    <h5>B. uDoras Inc.</h5>
                    <p>Subject to the terms and conditions of this Agreement, you are hereby granted a non-exclusive,
                    limited, non-transferable, freely revocable license to use the Service as permitted by the features
                    of the Service. uDoras Inc. reserves all rights not expressly granted herein in the Service and the
                    uDoras Inc. Content (as defined below). uDoras Inc. may terminate your access to the Service or this
                    license at any time for any reason or no reason.</p>
                    <h5>C. uDoras Inc. Accounts</h5>
                    <p>Your uDoras Inc. account gives you access to the services and functionality that we may establish
                        and maintain from time to time and in our sole discretion. We may maintain different types of
                        accounts for different types of Users and different types of User accounts may contain different
                        functionalities. If you open an uDoras Inc. account on behalf of a company, organization, or
                        other entity, then (a) “you” includes you and that entity, and (b) you represent and warrant
                        that you are an authorized representative of the entity with the authority to bind the entity to
                        this Agreement, and that you agree to this Agreement on the entity’s behalf. By connecting to
                        uDoras Inc. with a third-party service, you give us permission to access and use your
                        information from that service as permitted by that service, and to store your log-in credentials
                        for that service.</p>
                    <p>You may never use another User’s account without permission. When creating your account, you must
                        provide accurate and complete information, and you must keep this information up to date. You
                        are solely responsible for the activity that occurs on your account, and you must keep your
                        account password secure. We encourage you to use “strong” passwords (passwords that use a
                        combination of upper and lower case letters, numbers and symbols) with your account. You must
                        notify Udoras Inc. immediately of any breach of security or unauthorized use of your account.
                        uDoras Inc. will not be liable for any losses caused by any unauthorized use of your account. By
                        providing uDoras Inc. your email address you consent to our using the email address to send you
                        Service-related notices, including any notices required by law, in lieu of communication by
                        postal mail. We may also use your email address to send you other messages, such as changes to
                        features of the Service and special offers. Opting out may prevent you from receiving email
                        messages regarding updates, improvements, or offers.</p>
                    <h5>D. Service Rules</h5>
                    <p>You agree not to engage in any of the following prohibited activities: (i) copying, distributing,
                        or disclosing any part of the Service in any medium, including without limitation by any
                        automated or non-automated “scraping”; (ii) using any automated system, including without
                        limitation “robots,” “spiders,” “offline readers,” etc., to access the Service in a manner that
                        sends more request messages to the uDoras Inc. servers than a human can reasonably produce in
                        the same period of time by using a conventional on-line web browser (except that uDoras Inc.
                        grants the operators of public search engines revocable permission to use spiders to copy
                        publically available materials from our website for the sole purpose of and solely to the extent
                        necessary for creating publicly available searchable indices of the materials, but not caches or
                        archives of such materials); (iii) uploading, posting, hosting, or transmitting spam, text
                        messages, chain letters, or other unsolicited email or messages; (iv) attempting to interfere
                        with, compromise the system integrity or security or decipher any transmissions to or from the
                        servers running the Service; (v) taking any action that imposes, or may impose at our sole
                        discretion an unreasonable or disproportionately large load on our infrastructure; (vi)
                        uploading invalid data, viruses, worms, or other software agents through the Service; (vii)
                        collecting or harvesting any personally identifiable information, including account names, from
                        the Service; (viii) using the Service for any commercial solicitation purposes; (ix)
                        impersonating another person or otherwise misrepresenting your affiliation with a person or
                        entity, conducting fraud, hiding or attempting to hide your identity; (x) interfering with the
                        proper working of the Service; (xi) accessing any content on the Service through any technology
                        or means other than those provided or authorized by the Service; (xii) bypassing the measures we
                        may use to prevent or restrict access to the Service, including without limitation features that
                        prevent or restrict use or copying of any content or enforce limitations on use of the Service
                        or the content therein (xiii) verbally, physically or other abuse (including threats of abuse or
                        retribution) of any other User or any uDoras Inc. customer, employee, member, or officer; (xiv)
                        reproducing, duplicating, copying, selling, reselling or otherwise exploiting any portion of the
                        Service, use of the Service, or access to the Service; or (xv) modifying, adapting or hacking
                        the Service or modifying another website so as to falsely imply that it is associated with the
                        Service, uDoras Inc., or any other service provided by uDoras Inc.</p>
                    <p>YOU REPRESENT AND WARRANT UNDER PENALTY OF PERJURY THAT (I) YOU DO NOT WORK FOR A COMPETITOR OF
                        UDORAS INC.; AND (II) THAT YOU WILL NOT PROVIDE ANY INFORMATION GAINED FROM YOUR USE OF OR
                        ACCESS TO THE SITE OR THE SERVICES TO A COMPETITOR OF UDORAS INC.</p>
                    <p>We may, without prior notice, change the Service; stop providing the Service or features of the
                        Service, to you or to Users generally; or create usage limits for the Service. We may
                        permanently or temporarily terminate or suspend your access to the Service without notice and
                        liability for any reason, including if in our sole determination you violate any provision of
                        this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to
                        be bound by this Agreement. You are solely responsible for your interactions with other Users.
                        We reserve the right, but have no obligation, to monitor disputes between you and other Users.
                        uDoras Inc. shall have no liability for your interactions with other Users, or for any User’s
                        action or inaction.</p>
                </div>

                <h4>2. Customer Data: Rights and Responsibilities</h4>
                <div>
                    <div>
                        A. Customer Data. If you are a company, organization, or other entity utilizing our Service, we
                        may collect personal information from your applicants, employees, or other end users. You retain
                        ownership and control of your Customer Data. We shall use and process Customer Data solely for
                        the purpose of providing the Services under this Agreement, subject to the provisions in this
                        Section. However, notwithstanding anything to the contrary herein, you agree that, with such
                        user’s consent, uDoras Inc. may provide additional services directly to such end user outside of
                        the customer relationship, and that uDoras Inc. may use and process data obtained directly from
                        the end user for the provision of additional Services as permitted by these Terms and the uDoras
                        Inc. <a href="{{ path('fs_basic_privacy_policy_page') }}">Privacy Policy</a>
                    </div>
                    <div>
                        B. Customer Data License Grant. By submitting, or causing end users to submit, Customer Data on
                        or through the Service, you expressly grant, and you represent and warrant that you have all
                        rights necessary to grant, all rights and licenses to the Customer Data required for us and our
                        subcontractors and service providers to provide the Services. You acknowledge and agree that we
                        may collect, analyze and use anonymized or aggregated Customer Data, or data derived from
                        Customer Data, as well as data about your access and use of our Services, for the purpose of
                        providing, operating, analyzing, and improving our Services.
                    </div>
                    <div>
                        C. Your Responsibilities. In connection with your Customer Data, as of the date you accepted
                        this Agreement and throughout the term of this Agreement, you represent, warrant and agree that:
                        <ol>
                            <li>
                                you have obtained such Customer Data lawfully, and such Customer Data does not and will
                                not violate any applicable laws or a third party's proprietary or intellectual property
                                rights;
                            </li>
                            <li>
                                at all times, you will conspicuously post a privacy policy that provides notice of your
                                data collection and use practices, including your sharing of personal information with
                                third party service providers such as uDoras Inc.;
                            </li>
                            <li>
                                you shall not provide, or cause your end users to provide, and shall not specify or
                                engineer a request to collect, any Customer Data or content that contains bank account
                                information, credit or debit card information, personal information collected from
                                children under 13, social security numbers, or health or medical information, except in
                                designated areas of the Service which permit the receipt of such sensitive data
                                elements. Such data may not be submitted or stored by uDoras Inc. without uDoras Inc.
                                explicit consent, and uDoras Inc. reserves the right to delete or anonymize such data if
                                discovered stored in an unauthorized location within the Service;
                            </li>
                            <li>
                                you are solely responsible for ensuring compliance with all privacy laws in all
                                jurisdictions that may apply to your Customer Data that you share with us for the
                                provision of Services under this Agreement;
                            </li>
                            <li>
                                we may exercise the rights to your Customer Data granted under this Agreement without
                                liability or cost to any third party; and
                            </li>
                            <li>
                                your Customer Data complies with the terms of this Agreement (including, without
                                limitation, the User Content Section).
                            </li>
                        </ol>
                    </div>
                    <div>
                        D. Notice of a Security Incident. In the event that Customer Data is disclosed to or accessed
                        by an unauthorized party, we will promptly notify you and will use reasonable efforts to
                        cooperate with your investigation of the incident; and if such incident triggers any third party
                        notice requirements under applicable laws, you agree that as the owner of your Customer Data,
                        you will be responsible for the timing, content, cost and method of any such notice and
                        compliance with such laws.
                    </div>
                </div>

                <h4>3. User Content</h4>
                <div>
                    <p>
                        Some areas of the Service allow Users to post or provide content such as profile information,
                        images, comments, questions, and other content or information (any such materials a User
                        submits, posts, displays, or otherwise makes available on the Service is referred to as “User
                        Content”). We claim no ownership rights over User Content created by you. The User Content you
                        create remains yours; however, by providing or sharing User Content through the Service, you
                        agree to allow others to view, edit, and/or share your User Content in accordance with this
                        Agreement. uDoras Inc. has the right (but not the obligation) in its sole discretion to remove
                        any User Content that is shared via the Service.
                    </p>
                    <p>
                        You agree not to post User Content that: (i) may create a risk of harm, loss, physical or mental
                        injury, emotional distress, death, disability, disfigurement, or physical or mental illness to
                        you, to any other person, or to any animal; (ii) may create a risk of any other loss or damage
                        to any person or property; (iii) seeks to harm or exploit children by exposing them to
                        inappropriate content, asking for personally identifiable details or otherwise; (iv) may
                        constitute or contribute to a crime or tort; (v) contains any information or content that we
                        deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing,
                        invasive of personal privacy or publicity rights, harassing, humiliating to other people
                        (publicly or otherwise), libelous, threatening, profane, obscene, or otherwise objectionable;
                        (vi) contains any information or content that is illegal (including, without limitation, the
                        disclosure of insider information under securities law or of another party’s trade secrets);
                        (vii) contains any information or content that you do not have a right to make available under
                        any law or under contractual or fiduciary relationships; (viii) contains any information or
                        content that you know is not correct and current or (ix) violates any company, employer,
                        employment or other applicable policy, including those relating to ethics. You agree that any
                        User Content that you post does not and will not violate third-party rights of any kind,
                        including without limitation any Intellectual Property Rights (as defined below) or rights of
                        privacy.
                    </p>
                    <p>
                        uDoras Inc. reserves the right, but is not obligated, to reject and/or remove any User Content
                        that we believe, in our sole discretion, violate any of these provisions. You understand that
                        publishing your User Content on the Service is not a substitute for registering it with the U.S.
                        Copyright Office, the Writer’s Guild of America, or any other rights organization. For the
                        purposes of this Agreement, “Intellectual Property Rights” means all patent rights, copyright
                        rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service
                        mark rights, goodwill, trade secret rights and other intellectual property rights as may now
                        exist or hereafter come into existence, and all applications therefore and registrations,
                        renewals and extensions thereof, under the laws of any state, country, territory or other
                        jurisdiction.
                    </p>
                    <p>In connection with your User Content, you affirm, represent and warrant the following:</p>
                    <p>
                        A. You have the written consent of each and every identifiable natural person in the User
                        Content, if any, to use such person’s name or likeness in the manner contemplated by the Service
                        and this Agreement, and each such person has released you from any liability that may arise in
                        relation to such use.
                    </p>
                    <p>
                        B. If applicable, you have the consent and appropriate rights in the User Content to use your
                        employer’s logos, trademarks, trade names or service marks in the manner contemplated by the
                        Service or this Agreement.
                    </p>
                    <p>
                        C. You have obtained and are solely responsible for obtaining all consents as may be required by
                        law to post any User Content relating to third parties.
                    </p>
                    <p>
                        D. Your User Content and uDoras Inc. use thereof as contemplated by this Agreement and the
                        Service will not violate any law or infringe any rights of any third party, including but not
                        limited to any Intellectual Property Rights and privacy rights.
                    </p>
                    <p>
                        E. uDoras Inc. may exercise the rights to your User Content granted under this Agreement without
                        liability for payment of any guild fees, residuals, payments, fees, or royalties payable under
                        any collective bargaining agreement or otherwise.
                    </p>
                    <p>
                        F. To the best of your knowledge, all your User Content and other information that you provide
                        to us is truthful and accurate. uDoras Inc. takes no responsibility and assumes no liability for
                        any User Content that you or any other User or third party posts, sends, or otherwise makes
                        available over the Service. You shall be solely responsible for your User Content and the
                        consequences of posting, publishing it, sharing it, or otherwise making it available on the
                        Service, and you agree that we are only acting as a passive conduit for your online distribution
                        and publication of your User Content. You understand and agree that you may be exposed to User
                        Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to
                        your purpose, and you agree that uDoras Inc. shall not be liable for any damages you allege to
                        incur as a result of or relating to any User Content.
                    </p>
                </div>

                <h4>4. User Content License Grant</h4>
                <p>
                    By posting or otherwise making available any User Content on or through the Service, you expressly
                    grant, and you represent and warrant that you have all rights necessary to grant, to uDoras Inc. a
                    royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license
                    to use, reproduce, modify, publish, list information regarding, edit, translate, distribute,
                    syndicate, publicly perform, publicly display, and make derivative works of all such User Content
                    and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in
                    any form, media or technology, whether now known or hereafter developed, for use in connection with
                    the Service and uDoras Inc.(and its successors’ and affiliates’) business, including without
                    limitation for promoting and redistributing part or all of the Service (and derivative works
                    thereof) in any media formats and through any media channels.
                </p>

                <h4>5. Mobile Software</h4>
                <p>
                    A. Mobile Software. We may make available software to access the Service via a mobile device
                    (“Mobile Software”). To use the Mobile Software you must have a mobile device that is compatible
                    with the Mobile Software. uDoras Inc. does not warrant that the Mobile Software will be compatible
                    with your mobile device. You may use mobile data in connection with the Mobile Software and may
                    incur additional charges from your wireless provider for these services. You agree that you are
                    solely responsible for any such charges. Subject to the terms and conditions of this Agreement,
                    uDoras Inc. hereby grants you a non-exclusive, non-transferable, revocable license to use a compiled
                    code copy of the Mobile Software for one uDoras Inc. account on mobile device owned or leased solely
                    by you. You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile Software,
                    except to the extent that such restriction is expressly prohibited by law; (ii) rent, lease, loan,
                    resell, sublicense, distribute or otherwise transfer the Mobile Software to any third party or use
                    the Mobile Software to provide time sharing or similar services for any third party; (iii) make any
                    copies of the Mobile Software; (iv) remove, circumvent, disable, damage or otherwise interfere with
                    security-related features of the Mobile Software, features that prevent or restrict use or copying
                    of any content accessible through the Mobile Software, or features that enforce limitations on use
                    of the Mobile Software; or (v) delete the copyright and other proprietary rights notices on the
                    Mobile Software. You acknowledge that uDoras Inc. may from time to time issue upgraded versions of
                    the Mobile Software, and may automatically electronically upgrade the version of the Mobile Software
                    that you are using on your mobile device. You consent to such automatic upgrading on your mobile
                    device, and agree that the terms and conditions of this Agreement will apply to all such upgrades.
                    Any third-party code that may be incorporated in the Mobile Software is covered by the applicable
                    open source or third-party license EULA, if any, authorizing use of such code. The foregoing license
                    grant is not a sale of the Mobile Software or any copy thereof, and uDoras Inc. or its third-party
                    partners or suppliers retain all right, title, and interest in the Mobile Software (and any copy
                    thereof). Any attempt by you to transfer any of the rights, duties or obligations hereunder, except
                    as expressly provided for in this Agreement, is void. uDoras Inc. reserves all rights not expressly
                    granted under this Agreement. If the Mobile Software is being acquired on behalf of the United
                    States Government, then the following provision applies. The Mobile Software will be deemed to be
                    “commercial computer software” and “commercial computer software documentation,” respectively,
                    pursuant to DFAR Section 227.7202 and FAR Section 12.212, as applicable. Any use, reproduction,
                    release, performance, display or disclosure of the Service and any accompanying documentation by the
                    U.S. Government will be governed solely by these Terms of Service and is prohibited except to the
                    extent expressly permitted by these Terms of Service. The Mobile Software originates in the United
                    States, and is subject to United States export laws and regulations. The Mobile Software may not be
                    exported or re-exported to certain countries or those persons or entities prohibited from receiving
                    exports from the United States. In addition, the Mobile Software may be subject to the import and
                    export laws of other countries. You agree to comply with all United States and foreign laws related
                    to use of the Mobile Software and the Service.
                </p>

                <h4>6. Our Proprietary Rights</h4>
                <div>
                    <p>
                        Except for your User Content, the Service and all materials therein or transferred thereby,
                        including, without limitation, software, images, text, graphics, illustrations, logos, patents,
                        trademarks, service marks, copyrights, photographs, audio, videos, music, and User Content
                        belonging to other Users (the “uDoras Inc. Content”), and all Intellectual Property Rights
                        related thereto, are the exclusive property of uDoras Inc. and its licensors (including other
                        Users who post User Content to the Service). Except as explicitly provided herein, nothing in
                        this Agreement shall be deemed to create a license in or under any such Intellectual Property
                        Rights, and you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit,
                        publicly display, publicly perform, publish, adapt, edit or create derivative works from any
                        uDoras Inc. Content. Use of the uDoras Inc. Content for any purpose not expressly permitted by
                        this Agreement is strictly prohibited.
                    </p>
                    <p>
                        You may choose to or we may invite you to submit comments or ideas about the Service, including
                        without limitation about how to improve the Service or our products (“Ideas”). By submitting any
                        Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will
                        not place uDoras Inc. under any fiduciary or other obligation, and that we are free to use the
                        Idea without any additional compensation to you, and/or to disclose the Idea on a
                        non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of
                        your submission, uDoras Inc. does not waive any rights to use similar or related ideas
                        previously known to uDoras Inc., or developed by its employees, or obtained from sources other
                        than you.
                    </p>
                </div>

                <h4>7. uDoras Inc. Property</h4>
                <p>
                    The Service contains data, information, and other content not owned by you (“uDoras Inc. Property”).
                    You understand and agree that regardless of terminology used, uDoras Inc. Property represents a
                    limited license right governed solely by the terms of this Agreement and available for distribution
                    at uDoras Inc.’s sole discretion. uDoras Inc. Property is not redeemable for any sum of money or
                    monetary value from uDoras Inc. at any time. You acknowledge that you do not own the account you use
                    to access the Service, nor do you possess any rights of access or rights to data stored by or on
                    behalf of uDoras Inc. on uDoras Inc.’s servers, including without limitation any data representing
                    or embodying any or all of your uDoras Inc. Property. You agree that uDoras Inc. has the absolute
                    right to manage, regulate, control, modify and/or eliminate uDoras Inc. Property as it sees fit in
                    its sole discretion, in any general or specific case, and that uDoras Inc. will have no liability to
                    you based on its exercise of such right. All data on uDoras Inc.’s servers are subject to deletion,
                    alteration or transfer. NOTWITHSTANDING ANY VALUE ATTRIBUTED TO SUCH DATA BY YOU OR ANY THIRD PARTY,
                    YOU UNDERSTAND AND AGREE THAT ANY DATA, ACCOUNT HISTORY AND ACCOUNT CONTENT RESIDING ON uDoras
                    Inc.’S SERVERS, MAY BE DELETED, ALTERED, MOVED OR TRANSFERRED AT ANY TIME FOR ANY REASON IN uDoras
                    Inc.’S SOLE DISCRETION, WITH OR WITHOUT NOTICE AND WITH NO LIABILITY OF ANY KIND. uDoras Inc. DOES
                    NOT PROVIDE OR GUARANTEE, AND EXPRESSLY DISCLAIMS, ANY VALUE, CASH OR OTHERWISE, ATTRIBUTED TO ANY
                    DATA RESIDING ON uDoras Inc.’S SERVERS.
                </p>

                <h4>8. Paid Services</h4>
                <div>
                    <p>
                        A. Billing Policies. Certain aspects of the Service may be provided for a fee or other charge.
                        If
                        you elect to use paid aspects of the Service, you agree to the pricing and payment terms,
                        located in the SAAS Services order form for custom plans or within the Billing page under
                        account settings for traditional pricing, as we may update them from time to time. uDoras Inc.
                        may add new services for additional fees and charges, add or amend fees and charges for existing
                        services, at any time in its sole discretion. Any change to our pricing or payment terms shall
                        become effective in the billing cycle following notice of such change to you as provided in this
                        Agreement.
                    </p>
                    <p>
                        B. No Refunds. You may cancel your uDoras Inc. account at any time; however, there are no
                        refunds
                        for cancellation. In the event that uDoras Inc. suspends or terminates your account or this
                        Agreement, you understand and agree that you shall receive no refund or exchange for any uDoras
                        Inc. Property, any unused time on a subscription, any license or subscription fees for any
                        portion of the Service, any content or data associated with your account, or for anything
                        else.
                    </p>
                    <p>
                        C. Payment Information; Taxes. All information that you provide in connection with a purchase or
                        transaction or other monetary transaction interaction with the Service must be accurate,
                        complete, and current. You agree to pay all charges incurred by users of your credit card, debit
                        card, or other payment method used in connection with a purchase or transaction or other
                        monetary transaction interaction with the Service at the prices in effect when such charges are
                        incurred. All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities,
                        and you shall be responsible and pay any applicable taxes, if any, relating to any such
                        purchases, transactions or other monetary transaction interactions.
                    </p>
                    <p>
                        D. Payments. Payment shall be in the form you select when you register for the Service, or as
                        subsequently updated as permitted by the Service. uDoras Inc. reserves the right to withhold
                        payments that may be due to you or charge back to your account any amounts otherwise due to us
                        under this Agreement, or amounts due to any breach of this Agreement by you, pending uDoras
                        Inc.’s reasonable investigation of such breach. uDoras Inc. also reserves the right to withhold
                        payments that may be due to you or charge back to your account any amounts subject to dispute,
                        such as in the case of credit card charge backs, pending successful resolution of the dispute.
                        To ensure proper payment, you are solely responsible for providing and maintaining accurate
                        contact and payment information associated with your account, which includes without limitation
                        applicable tax information. If we believe that we are obligated to obtain tax information and
                        you do not provide this information to us after we have requested it, we may withhold your
                        payments until you provide this information or otherwise satisfy us that you are not a person or
                        entity from whom we are required to obtain tax information. Any third-party fees related to
                        returned or cancelled payments due to a contact or payment information error or omission may be
                        deducted from the newly issued payment. You agree to pay all applicable taxes or charges imposed
                        by any government entity in connection with your participation in the Service. If you dispute
                        any payment made hereunder, you must notify uDoras Inc. in writing within thirty (30) days of
                        such payment or from when you purport such payment would have been due, whichever is earlier.
                        Failure to so notify uDoras Inc. shall result in the waiver by you of any claim relating to such
                        disputed payment. Payment shall be calculated solely based on records maintained by uDoras Inc..
                        No other measurements or statistics of any kind shall be accepted by uDoras Inc. or have any
                        effect under this Agreement and you shall have no audit rights hereunder. We may withhold any
                        taxes or other amounts from payments due to you as required by law.
                    </p>
                    <p>
                        E. California Residents. The provider of services is uDoras Inc., 329 Bryant Street #2G, San
                        Francisco, CA 94107 , telephone (415)-857-3515. If you are a California resident, in accordance
                        with Cal. Civ. Code §1789.3, you may report complaints to the Complaint Assistance Unit of the
                        Division of Consumer Services of the California Department of Consumer Affairs by contacting
                        them in writing at 1625 North Market Blvd., Suite N 112 Sacramento, CA 95834, or by telephone at
                        (800) 952-5210 or (916) 445-1254.
                    </p>
                </div>

                <h4>9. No Professional Advice</h4>
                <p>
                    If the Service provides professional information (for example, medical, legal, or financial), such
                    information is for informational purposes only and should not be construed as professional advice.
                    No action should be taken based upon any information contained in the Service. You should seek
                    independent professional advice from a person who is licensed and/or qualified in the applicable
                    area.
                </p>

                <h4>10. Privacy</h4>
                <p>
                    We care about the privacy of our Users. You understand that by using the Services you consent to the
                    collection, use and disclosure of your personally identifiable information and aggregate data as set
                    forth in our <a href="{{ path('fs_basic_privacy_policy_page') }}">Privacy Policy</a>,
                    and to have your personally identifiable information collected, used,
                    transferred to and processed in the United States.
                </p>

                <h4>11. Security</h4>
                <p>
                    uDoras Inc. cares about the integrity and security of your personal information. However, we cannot
                    guarantee that unauthorized third parties will never be able to defeat our security measures or use
                    your personal information for improper purposes. You acknowledge that you provide your personal
                    information at your own risk.
                </p>

                <h4>12. DMCA Notice</h4>
                <div>
                    <p>
                        Since we respect artist and content owner rights, it is uDoras Inc.’s policy to respond to
                        alleged infringement notices that comply with the Digital Millennium Copyright Act of 1998
                        (“DMCA”).
                    </p>
                    <div>
                        If you believe that your copyrighted work has been copied in a way that constitutes copyright
                        infringement and is accessible via the Service, please notify uDoras Inc.’s copyright agent as
                        set forth in the DMCA. For your complaint to be valid under the DMCA, you must provide the
                        following information in writing:
                        <ol>
                            <li>An electronic or physical signature of a person authorized to act on behalf of the
                                copyright owner;
                            </li>
                            <li>Identification of the copyrighted work that you claim has been infringed;</li>
                            <li>Identification of the material that is claimed to be infringing and where it is located
                                on the Service;
                            </li>
                            <li>Information reasonably sufficient to permit uDoras Inc. to contact you, such as your
                                address, telephone number, and, e-mail address;
                            </li>
                            <li>A statement that you have a good faith belief that use of the material in the manner
                                complained of is not authorized by the copyright owner, its agent, or law; and
                            </li>
                            <li>A statement, made under penalty of perjury, that the above information is accurate, and
                                that you are the copyright owner or are authorized to act on behalf of the owner.
                            </li>
                        </ol>
                    </div>
                    <p>The above information must be submitted to the following DMCA Agent:</p>
                    <p>Attn: DMCA Notice</p>
                    <p>OnboardIQ, Inc.</p>
                    <p>Address: 329 Bryant Street, #2G</p>
                    <p>San Francisco, CA 94107</p>
                    <p>Telephone: (480) 433 - 1197</p>
                    <p>Email: <a href="mailto:clients@onboardiq.com">clients@onboardiq.com</a></p>
                    <p>UNDER FEDERAL LAW, IF YOU KNOWINGLY MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY
                        BE SUBJECT TO CRIMINAL PROSECUTION FOR PERJURY AND CIVIL PENALTIES, INCLUDING MONETARY
                        DAMAGES, COURT COSTS, AND ATTORNEYS’ FEES.</p>
                    <p>Please note that this procedure is exclusively for notifying OnboardIQ and its affiliates
                        that your copyrighted material has been infringed. The preceding requirements are intended
                        to comply with OnboardIQ’s rights and obligations under the DMCA, including 17 U.S.C.
                        §512(c), but do not constitute legal advice. It may be advisable to contact an attorney
                        regarding your rights and obligations under the DMCA and other applicable laws.</p>
                    <p>In accordance with the DMCA and other applicable law, uDoras Inc. has adopted a policy of
                        terminating, in appropriate circumstances, Users who are deemed to be repeat infringers.
                        uDoras Inc. may also at its sole discretion limit access to the Service and/or terminate the
                        accounts of any Users who infringe any intellectual property rights of others, whether or
                        not there is any repeat infringement.</p>
                </div>

                <h4>13. Third-Party Links and Information</h4>
                <p>
                    The Service may contain links to third-party materials that are not owned or controlled by uDoras
                    Inc.. uDoras Inc. does not endorse or assume any responsibility for any such third-party sites,
                    information, materials, products, or services. If you access a third-party website or service from
                    the Service or share your User Content on or through any third-party website or service, you do so
                    at your own risk, and you understand that this Agreement and uDoras Inc.’s
                    <a href="{{ path('fs_basic_privacy_policy_page') }}">Privacy Policy</a> do not
                    apply to your use of such sites. You expressly relieve uDoras Inc. from any and all liability
                    arising from your use of any third-party website, service, or content, including without limitation
                    User Content submitted by other Users. Additionally, your dealings with or participation in
                    promotions of advertisers found on the Service, including payment and delivery of goods, and any
                    other terms (such as warranties) are solely between you and such advertisers. You agree that uDoras
                    Inc. shall not be responsible for any loss or damage of any sort relating to your dealings with such
                    advertisers.
                </p>

                <h4>14. Indemnity</h4>
                <p>
                    You agree to defend, indemnify and hold harmless uDoras Inc. and its subsidiaries, agents,
                    licensors, managers, and other affiliated companies, and their employees, contractors, agents,
                    officers and directors, from and against any and all claims, damages, obligations, losses,
                    liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising
                    from: (i) your use of and access to the Service, including any data or content transmitted or
                    received by you; (ii) your violation of any term of this Agreement, including without limitation
                    your breach of any of the representations and warranties above; (iii) your violation of any
                    third-party right, including without limitation any right of privacy or Intellectual Property
                    Rights; (iv) your violation of any applicable law, rule or regulation; (v) User Content or any
                    content that is submitted via your account including without limitation misleading, false, or
                    inaccurate information; (vi) your willful misconduct; or (vii) any other party’s access and use of
                    the Service (or access and use of any third-party service via the Service) with your unique
                    username, password or other appropriate security code.
                </p>

                <h4>15. No Warranty</h4>
                <div>
                    <p>
                        THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. USE OF THE SERVICE IS AT YOUR
                        OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE IS PROVIDED WITHOUT
                        WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED
                        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. NO ADVICE
                        OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM uDoras Inc. OR THROUGH THE SERVICE
                        WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING THE FOREGOING, uDoras
                        Inc., ITS SUBSIDIARIES, ITS AFFILIATES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT IS
                        ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE WILL MEET YOUR REQUIREMENTS; THAT THE SERVICE
                        WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS
                        OR ERRORS WILL BE CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
                        ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DOWNLOADED AT
                        YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR
                        MOBILE DEVICE OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE SERVICE.
                    </p>
                    <p>
                        uDoras Inc. DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR
                        SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE uDoras Inc. SERVICE OR ANY
                        HYPERLINKED WEBSITE OR SERVICE, AND uDoras Inc. WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY
                        TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. FEDERAL LAW, SOME
                        STATES, PROVINCES AND OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION AND LIMITATIONS OF CERTAIN
                        IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. THIS AGREEMENT GIVES YOU
                        SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE. THE
                        DISCLAIMERS AND EXCLUSIONS UNDER THIS AGREEMENT WILL NOT APPLY TO THE EXTENT PROHIBITED BY
                        APPLICABLE LAW.
                    </p>
                </div>

                <h4>16. Limitation of Liability</h4>
                <div>
                    <p>
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL uDoras Inc., ITS
                        AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS OR LICENSORS BE LIABLE FOR ANY INDIRECT,
                        PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION
                        DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES, ARISING OUT OF OR
                        RELATING TO THE USE OF, OR INABILITY TO USE, THIS SERVICE. UNDER NO CIRCUMSTANCES WILL uDoras
                        Inc. BE RESPONSIBLE FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING OR OTHER
                        UNAUTHORIZED ACCESS OR USE OF THE SERVICE OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN.
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, uDoras Inc. ASSUMES NO LIABILITY OR
                        RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT OR THE SERVICE; (II)
                        PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR
                        USE OF OUR SERVICE; (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND
                        ALL PERSONAL INFORMATION STORED THEREIN; (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO
                        OR FROM THE SERVICE; (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED
                        TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR
                        ANY LOSS OR DAMAGE INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED,
                        OR OTHERWISE MADE AVAILABLE THROUGH THE SERVICE; AND/OR (VII) USER CONTENT OR THE DEFAMATORY,
                        OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY. IN NO EVENT SHALL uDoras Inc., ITS AFFILIATES,
                        AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS, OR LICENSORS BE LIABLE TO YOU FOR ANY CLAIMS,
                        PROCEEDINGS, LIABILITIES, OBLIGATIONS, DAMAGES, LOSSES OR COSTS IN AN AMOUNT EXCEEDING THE
                        AMOUNT YOU PAID TO uDoras Inc. HEREUNDER OR $100.00, WHICHEVER IS GREATER.
                    </p>
                    <p>
                        THIS LIMITATION OF LIABILITY SECTION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT,
                        TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF uDoras Inc. HAS BEEN ADVISED OF
                        THE POSSIBILITY OF SUCH DAMAGE. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST
                        EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
                    </p>
                    <p>
                        SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO
                        THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. THIS AGREEMENT GIVES YOU SPECIFIC
                        LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE. THE
                        DISCLAIMERS, EXCLUSIONS, AND LIMITATIONS OF LIABILITY UNDER THIS AGREEMENT WILL NOT APPLY TO THE
                        EXTENT PROHIBITED BY APPLICABLE LAW.
                    </p>
                    <p>
                        The Service is controlled and operated from facilities in the United States. uDoras Inc. makes
                        no representations that the Service is appropriate or available for use in other locations.
                        Those who access or use the Service from other jurisdictions do so at their own volition and are
                        entirely responsible for compliance with all applicable United States and local laws and
                        regulations, including but not limited to export and import regulations. You may not use the
                        Service if you are a resident of a country embargoed by the United States, or are a foreign
                        person or entity blocked or denied by the United States government. Unless otherwise explicitly
                        stated, all materials found on the Service are solely directed to individuals, companies, or
                        other entities located in the United States.
                    </p>
                </div>

                <h4>17. Governing Law, Arbitration, and Class Action/Jury Trial Waiver</h4>
                <div>
                    <p>
                        A. Governing Law. You agree that: (i) the Service shall be deemed solely based in California;
                        and (ii) the Service shall be deemed a passive one that does not give rise to personal
                        jurisdiction over us, either specific or general, in jurisdictions other than California. This
                        Agreement shall be governed by the internal substantive laws of the State of California, without
                        respect to its conflict of laws principles. The parties acknowledge that this Agreement
                        evidences a transaction involving interstate commerce. Notwithstanding the preceding sentences
                        with respect to the substantive law, any arbitration conducted pursuant to the terms of this
                        Agreement shall be governed by the Federal Arbitration Act (9 U.S.C. §§ 1-16). The application
                        of the United Nations Convention on Contracts for the International Sale of Goods is expressly
                        excluded. You agree to submit to the personal jurisdiction of the federal and state courts
                        located in San Francisco City and County, California for any actions for which we retain the
                        right to seek injunctive or other equitable relief in a court of competent jurisdiction to
                        prevent the actual or threatened infringement, misappropriation or violation of our copyrights,
                        trademarks, trade secrets, patents, or other intellectual property or proprietary rights, as set
                        forth in the Arbitration provision below, including any provisional relief required to prevent
                        irreparable harm. You agree that San Francisco City and County, California is the proper forum
                        for any appeals of an arbitration award or for trial court proceedings in the event that the
                        arbitration provision below is found to be unenforceable.
                    </p>
                    <p>
                        B. Arbitration. READ THIS SECTION CAREFULLY BECAUSE IT REQUIRES THE PARTIES TO ARBITRATE THEIR
                        DISPUTES AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM uDoras Inc.. For any dispute
                        with OnboardIQ, you agree to first contact us at
                        <a href="mailto:support@udoras.com">support@uDoras.com</a> and attempt to resolve the
                        dispute with us informally. In the unlikely event that uDoras Inc. has not been able to resolve
                        a dispute it has with you after sixty (60) days, we each agree to resolve any claim, dispute, or
                        controversy (excluding any claims for injunctive or other equitable relief as provided below)
                        arising out of or in connection with or relating to this Agreement, or the breach or alleged
                        breach thereof (collectively, “Claims”), by binding arbitration by JAMS, under the Optional
                        Expedited Arbitration Procedures then in effect for JAMS, except as provided herein. JAMS may be
                        contacted at www.jamsadr.com. The arbitration will be conducted in Los Angeles and County,
                        California, unless you and uDoras Inc. agree otherwise. If you are using the Service for
                        commercial purposes, each party will be responsible for paying any JAMS filing, administrative
                        and arbitrator fees in accordance with JAMS rules, and the award rendered by the arbitrator
                        shall include costs of arbitration, reasonable attorneys’ fees and reasonable costs for expert
                        and other witnesses. If you are an individual using the Service for non-commercial purposes: (i)
                        JAMS may require you to pay a fee for the initiation of your case, unless you apply for and
                        successfully obtain a fee waiver from JAMS; (ii) the award rendered by the arbitrator may
                        include your costs of arbitration, your reasonable attorney’s fees, and your reasonable costs
                        for expert and other witnesses; and (iii) you may sue in a small claims court of competent
                        jurisdiction without first engaging in arbitration, but this does not absolve you of your
                        commitment to engage in the informal dispute resolution process. Any judgment on the award
                        rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in
                        this Section shall be deemed as preventing uDoras Inc. from seeking injunctive or other
                        equitable relief from the courts as necessary to prevent the actual or threatened infringement,
                        misappropriation, or violation of our data security, Intellectual Property Rights or other
                        proprietary rights.
                    </p>
                    <p>
                        C. Class Action/Jury Trial Waiver. WITH RESPECT TO ALL PERSONS AND ENTITIES, REGARDLESS OF
                        WHETHER THEY HAVE OBTAINED OR USED THE SERVICE FOR PERSONAL, COMMERCIAL OR OTHER PURPOSES, ALL
                        CLAIMS MUST BE BROUGHT IN THE PARTIES’ INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS
                        MEMBER IN ANY PURPORTED CLASS ACTION, COLLECTIVE ACTION, PRIVATE ATTORNEY GENERAL ACTION OR
                        OTHER REPRESENTATIVE PROCEEDING. THIS WAIVER APPLIES TO CLASS ARBITRATION, AND, UNLESS WE AGREE
                        OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS. YOU AGREE THAT, BY
                        ENTERING INTO THIS AGREEMENT, YOU AND uDoras Inc. ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY
                        OR TO PARTICIPATE IN A CLASS ACTION, COLLECTIVE ACTION, PRIVATE ATTORNEY GENERAL ACTION, OR
                        OTHER REPRESENTATIVE PROCEEDING OF ANY KIND.
                    </p>
                </div>

                <h4>18. General</h4>
                <div>
                    <p>
                        A. Assignment. This Agreement, and any rights and licenses granted hereunder, may not be
                        transferred or assigned by you, but may be assigned by uDoras Inc. without restriction. Any
                        attempted transfer or assignment in violation hereof shall be null and void.
                    </p>
                    <p>
                        B. Notification Procedures and Changes to the Agreement. uDoras Inc. may provide notifications,
                        whether such notifications are required by law or are for marketing or other business related
                        purposes, to you via email notice, written or hard copy notice, or through posting of such
                        notice on our website, as determined by uDoras Inc. in our sole discretion. uDoras Inc. reserves
                        the right to determine the form and means of providing notifications to our Users, provided that
                        you may opt out of certain means of notification as described in this Agreement. uDoras Inc. is
                        not responsible for any automatic filtering you or your network provider may apply to email
                        notifications we send to the email address you provide us. uDoras Inc. may, in its sole
                        discretion, modify or update this Agreement from time to time, and so you should review this
                        page periodically. When we change the Agreement in a material manner, we will update the ‘last
                        modified’ date at the bottom of this page. Your continued use of the Service after any such
                        change constitutes your acceptance of the new Terms of Use. If you do not agree to any of these
                        terms or any future Terms of Use, do not use or access (or continue to access) the Service.
                    </p>
                    <p>
                        C. Entire Agreement/Severability. This Agreement, together with any amendments and any
                        additional agreements you may enter into with uDoras Inc. in connection with the Service, shall
                        constitute the entire agreement between you and uDoras Inc. concerning the Service. If any
                        provision of this Agreement is deemed invalid by a court of competent jurisdiction, the
                        invalidity of such provision shall not affect the validity of the remaining provisions of this
                        Agreement, which shall remain in full force and effect, except that in the event of
                        unenforceability of the universal Class Action/Jury Trial Waiver, the entire arbitration
                        agreement shall be unenforceable.
                    </p>
                    <p>
                        D. No Waiver. No waiver of any term of this Agreement shall be deemed a further or continuing
                        waiver of such term or any other term, and uDoras Inc.’s failure to assert any right or
                        provision under this Agreement shall not constitute a waiver of such right or provision.
                    </p>
                    <p>
                        E. Contact. Please contact us at <a href="mailto:support@udoras.com">support@uDoras.com</a>
                        with any questions regarding this Agreement.
                    </p>
                    <p> This Agreement was last modified on April 25, 2017. </p>
                </div>
            </div>
        </div>
    </main>
    {% include "::footer.html.twig" %}
{% endblock %}