{% extends '::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@FSTrainingProgramsBundle/Resources/public/less/slides.less' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid slide">
        <div class="row status-row">
            <div class="col-sm-3 col-sm-offset-1 logo">
                {% image '@FSUdorasBundle/Resources/public/images/logo-copy.png' %}
                <img src="{{ asset_url }}" alt="Logo"/>
                {% endimage %}
            </div>
            <div class="col-sm-4">
                <div class="progress-text text-center">
                    {{ numberOfSlides }}/{{ numberOfSlides }}
                </div>
                <div class="progress-bar">
                    <span style="width: 100%"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 content">
                <div class="questions row">
                    {% for slide in questions %}
                        {% include 'FSTrainingProgramsBundle:Slides/slides:question.html.twig' with {'slide': slide, 'question': loop.index} %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row buttons-row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <a class="btn btn-lg close-presentation"
                           href="{{ path('show_training_program', {'link': trainingProgram.link}) }}">
                            Close Presentation
                        </a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h5 class="time-limit">No time limit</h5>
                    </div>
                    <div class="col-sm-4 text-right">
                        <a class="btn btn-lg next-slide"
                           href="{{ path('show_training_program', {'link': trainingProgram.link}) }}">
                            Finish Training
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}